
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}



.main{
   
    width: 90vw;
    padding: 23px;
}
.container {
    
    display: flex;
}

.infoContainer {
    

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 15px solid;
}
.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}
.hello{
    font-size: 3em;
}

.name{
    
    width: 160px;
    height: 24px;
    top: 499px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
    color: var(--black, #2C2B2B);



}

.about{
    width: 343px;
    height: 60px;
    top: 538px;
    left: 16px;
    gap: 0px;
    opacity: 0px;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: #787878;


}

.moreabout{
    font-size: 2em;
    margin-top: 23px;
    font-family: "Fira Sans", sans-serif;

}
.buttons{
    
    margin: 2.2em;
    font-size: 16px;
    
}

.skip {
    position: relative;
    

    width: 36px;
    height: 20px;
    top: 44px;
    left: 323px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: #9FB2FF;
    
    animation: Smart animate;
     


    


     
}

.btn {

    

     
      width: 60px;
    height: 60px;
    top: 696px;
    left: 299px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-width: 0px, 0px, 0px, 0px;

    border-style: solid;
    background-color:#89A1FF ;

    border-color: #89A1FF;
    
 animation: Smart animate;
animation-timing-function: ease-out;
animation-duration: 917ms;
border-radius: 50%;




}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}




.devPic img {
    height: 450px;
    
}


.devPic11 img {
    width: 282px;
height: 282px;
top: 132px;
left: 46px;
gap: 0px;
opacity: 0px; 
}

.devPic22 img {
    width: 352px;
    height: 234.61px;
    top: 156px;
    left: 11px;
    gap: 0px;
    opacity: 0px;

    
}

.contactform{

    padding: 0 34px;
   /* padding-top: 144px;*/
    font-family: 'Fira Sans', sans-serif;
    margin: 88px;

}

.contactform h1{
    width: 163px;
height: 23px;
top: 68px;
left: 16px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 23.44px;
text-align: left;
color:  var(--black, rgba(44, 43, 43, 1));
;
    

}


.contactform form div input{
   
    
    padding: 3px;
    width: 343px;
    height: 50px;
    top: 135px;
    left: 16px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    background: rgba(241, 241, 241, 1);


}
.contactform form div input .form-control{
    width: 68px;
height: 15px;
top: 153px;
left: 36px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: left;

color: rgba(127, 127, 127, 1);

}





#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;

}

#form-check{
    flex-direction: row;
    

}

#form-check input{
    width: 22px;
    height: 22px;
    top: 431px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    
    margin: 3px 0;

}
#form-check-label{
    width: 313px;
    height: 21px;
    top: 431px;
    left: 46px;
    gap: 0px;
    opacity: 0px;
    rotate: 0 deg;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 21.35px;
    text-align: left;
    


    


}
.buttons1{
   background-color: linear-gradient(270deg, #7B91FF 0%, #95BEFF 100%);
   ;
 
 animation: Smart animate;
 


}



.blogItem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;

} 

.blogContainer{
    margin:  88px;

}

 h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}
 p{
    font-family: 'Source Code Pro', monospace;
}

.intro{
    margin: 88px;
}

.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;

}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}
.skillcontainer {
    padding: 12px;

}
.skillItem {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;

}

.skill {
    width: 265px;
    height: 6px;
    background-color: red;
    
}
.hundered{
    width: 265px;
    background-color: blueviolet;
}
.fifty {
    width: 125px;
    background-color: aqua;
}
.t5 {
    width: 75px;
    background-color: yellow;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham {
    
    margin-top: 10px;
    margin-left: 10px;
}

.cross{
    margin-left: 185px;
    margin-top: 10px;
}

@media (max-width: 1615px) {
   
     .buttons {
        font-size: 6px;
    }
    .devInfo{
        font-size: 10px;
    }
    
    .intro, .blogContainer,.contactform {
        margin: 50px 8px;
    }
}  